<h1> <%= @restaurante.nome %></h1>

<p>
<% if !@restaurante.foto.blank? %>
  <%= image_tag @restaurante.foto.url(:medium)  %>
<% end %>
</p>
<p>
	<b>Endereço: </b>
	<%= @restaurante.endereco %>
</p>
<p>
<b>Especialidade: </b>
<% @restaurante.especialidades.each do |e| %>
   <%= e.nome %> <br>
<% end %>
	</p>

<%= link_to 'Editar', action: 'edit', id: @restaurante %> |
<%= link_to 'Voltar', action: 'index' %> 

<!-- %=# comentarios @restaurante %>
#%= #novo_comentario @restaurante %> -->
<%= render "disqus" %>
