
<h1> Pratos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <!-- <th>Foto</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pratos.each do |p| %>
      <tr>
        <td><%= p.nome %></td>
        <td><%= p.descricao %></td>
        <!--<td><%= image_tag p.foto.url(:thumb) %></td> -->
                <% if p.receita.blank? %>
          <td><%= link_to "Adicionar receita", controller: "receitas", action: "new", prato_id: p %></td>
       <% else  %>
          <td><%= link_to "Ver Receita", controller: "receitas", action: "show", id: p.receita %></td> 
        <% end %>
        <td><%= link_to "Editar", controller: "pratos", action: "edit", id: p %></td>
        <td><%= link_to "Excluir", "#" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo", controller: "pratos", action: "new" %>
<br>

 
