<nav class="navbar navbar-inverse">		
	<div class="container">
		<div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Restaurantes", restaurantes_path %>	</li>
        <li><%= link_to "Especialidades", especialidades_path %></li>
        <li> <%= link_to "Clientes", clientes_path %></li>
        <li><%= link_to "Qualificações", qualificacoes_path %></li>
        <li><%= link_to "Pratos", pratos_path %></li>
      </ul>	
			</div>
	</div>
</nav>
